<footer>
    <hr>
    <h4><span id="Time01"></span></h4>
    <h5>&copy; This site is being protected by the copyright law as it is a homework.
        By using this site, you agree to the Terms of Use and Privacy Policy.</h5>
</footer>