body {
  font-family: "Lora", sans-serif;
}
h3 {
  font-weight: 400;
}
body {
  height: 100%;
  background-image: linear-gradient(to bottom left, #28abb9, #28abb9, #effad3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}


.image2 {
  width: 2900px;
  height: auto;
  position: absolute;
  top: 10px;
  left: -5px;
  z-index: -1;
}
h3 ~ p {
  border-style: dotted;
  border-color: #00cca3;
  margin-top: 45px;
  margin-bottom: 70px;
}
.c2 {
  font-style: italic;
}
.background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

.dropbtn {
  position: sticky;
  background-color: #2d6187;
  color: #effad3;
  border: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 90px;
}

.dropdown {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  display: block;
}

.square {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  /*background-color: #2d6187;*/
  /*animation: pulse 10s infinite;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b2deec;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1f3c88;
}

h1 {
  text-align: center;
}

h5 {
  font-size: 13px;
  text-align: center;
}

p {
  color: #1a1a00;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

div.fixed {
  position: fixed;
  top: 25%;
  right: 5%;
  width: 800px;
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: none;
}

.flex-container>div {
  background-color: none;
  width: 1940px;
  margin: 10px;
  text-align: center;
  line-height: 27px;
}

.divider {
  border: 2px dashed navy;
}

#frame001 {
	text-align: center;
	max-height:auto;
	max-width: 100%;
    background-color: none;
    border: 3px solid black;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
}

#center001 {
    text-align: center;
    color: black;
}

.link-button {
  position: none;
  text-decoration: none;
  padding: 5% 4px;
  background:#222831;
  color: white;
}

.user-form {
  position: fixed;
  left: calc(50% - 200px / 2);
  top: calc(50% - 200px / 2);
  width: 200px;
  height: auto;
  min-height: 200px;
  padding: 20px;
  background: linear-gradient(180deg, white, #cccccc);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.usereg-form {
  position: fixed;
  left: calc(50% - 200px / 2);
  top: calc(50% - 450px / 2);
  width: 200px;
  height: auto;
  min-height: 200px;
  padding: 20px;
  background: linear-gradient(180deg, white, #cccccc);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.area {
  display: block;
  margin-top: 20px;
}

.user-form button {
  margin-top: 40px;
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  background: #00cca3;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  font-weight: 600;
  cursor: pointer;
}

.usereg-form button {
  margin-top: 40px;
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  background: #00cca3;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  font-weight: 600;
  cursor: pointer;
}

.user-form button:hover {
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.usereg-form button:hover {
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.user-form input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-top: 5px;
}

.usereg-form input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-top: 5px;
}

.menu {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #2d6187;
  animation: pulse 10s infinite;
  padding-right: 10px;
  box-sizing: border-box;
}

.left {
  display: block;
  float: left;
}

.right { 
  position: none;
  margin-top: 15px; 
  display: block;
  float: right;
  height: 100%;
}

.right button {
  padding: 10px 20px;
  margin-left: 10px;
  background: white;
  height: 80%;
  margin-top: 2%;
  border: 0;
  cursor: pointer;
}

.close {
  font-weight: 900;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 4px;
  background: #333333;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

#username {
  margin: 0;
  color: #333333;
  display: inline-block;
}